
<!-- <mat-horizontal-stepper linear [selectedIndex]="registrationService.currentStep">
    <mat-step label="Account Info">
      <ng-template matStepLabel>Account Info</ng-template>
      <app-appinfo></app-appinfo>
    </mat-step>
    <mat-step label="Business Info">
      <ng-template matStepLabel>Business Info</ng-template>
      <app-businessinfo></app-businessinfo>
    </mat-step>
    <mat-step label="Terms">
      <ng-template matStepLabel>Terms</ng-template>
      <app-termsandconditions></app-termsandconditions>
    </mat-step>
  </mat-horizontal-stepper> -->
  <app-stepper></app-stepper>
